<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="awesome-box col-xs-6 col-xs-offset-3 text-center">
	<br>
	<h1>
		Let's All Advise Each Other
	</h1>

	<br>
		<%= link_to 'Try It Now', quotes_path, :class => 'btn btn-success' %>


	<br>
	<br>
	<br>

</div>
