<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="awesome-box col-xs-6 col-xs-offset-3 text-center">
	<h1>The best life tips...</h>
	<h2>
		"
		<%= @quote.saying %>
		"
	</h2>

	<p>
		<%= @quote.author %>
	</p>

	<br>
	<br>
	<%= link_to 'Home', root_path, :class => 'btn btn-info' %>
    <%= link_to 'Give Advice', new_quote_path, :class => 'btn btn-warning' %>
    <br>
    <br>
    <br>
</div>